<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div id="myCarouselOpinioes" class="carousel slide" data-ride="carousel">
  <!-- Indicadores -->
  <ol class="carousel-indicators">
    <li data-target="#myCarouselOpinioes" data-slide-to="0" class="active"></li>
    <li data-target="#myCarouselOpinioes" data-slide-to="1"></li>
    <li data-target="#myCarouselOpinioes" data-slide-to="2"></li>
    <li data-target="#myCarouselOpinioes" data-slide-to="3"></li>
    <li data-target="#myCarouselOpinioes" data-slide-to="4"></li>
    <li data-target="#myCarouselOpinioes" data-slide-to="5"></li>
    <li data-target="#myCarouselOpinioes" data-slide-to="6"></li> <!-- Botão adicional -->
  </ol>
  <!-- Slides -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-md-4">
          <div class="background-image img-1">
            <div class="container-info">
              <div class="container-b1">
                <p>A Inffinitx é uma empresa incrível que está transformando vidas! Com sua expertise no mercado financeiro, eles ajudam pessoas a investir e conquistar sua independência financeira. Além disso, seus cursos são excelentes e proporcionam conhecimentos valiosos sobre investimentos. Recomendo a Inffinitx para todos que desejam alcançar sucesso no mercado financeiro.</p>
              </div>
              <div class="container-b2">
                <h4>João Almeida, 32</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="background-image img-2">
            <div class="container-info">
              <div class="container-b1">
                <p>Estou extremamente satisfeito com os serviços da Inffinitx. Eles são verdadeiros especialistas em investimentos e têm me auxiliado de forma excepcional. Além disso, os cursos oferecidos pela empresa são completos e muito bem estruturados. Agradeço à Inffinitx por me proporcionar a oportunidade de aprender e investir com segurança.</p>
              </div>
              <div class="container-b2">
                <h4>Maria Silva, 28</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="background-image img-3">
            <div class="container-info">
              <div class="container-b1">
                <p>A Inffinitx é uma empresa que faz a diferença! Com sua abordagem inovadora, eles simplificam o processo de investimento e tornam o mercado financeiro acessível a todos. Os cursos oferecidos são de altíssima qualidade e me deram uma base sólida para começar a investir. Estou encantado com os resultados que tenho obtido graças à Inffinitx.</p>
              </div>
              <div class="container-b2">
                <h4>Carlos Rodrigues, 35</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-md-4">
          <div class="background-image img-4">
            <div class="container-info">
              <div class="container-b1">
                <p>Recomendo a Inffinitx de olhos fechados! Essa empresa é referência quando se trata de investimentos. Eles não apenas redirecionam as pessoas interessadas no mercado financeiro, mas também fornecem todo o suporte necessário para investir de forma inteligente. Os cursos são didáticos e me proporcionaram um conhecimento valioso. Parabéns à Inffinitx!</p>
              </div>
              <div class="container-b2">
                <h4>Ana Oliveira, 30</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="background-image img-5">
            <div class="container-info">
              <div class="container-b1">
                <p>Estou impressionado com a Inffinitx! Eles são verdadeiros mentores financeiros, guiando pessoas rumo ao sucesso nos investimentos. Através de seus cursos, aprendi estratégias eficientes e descobri oportunidades que antes desconhecia. Agradeço à Inffinitx por sua dedicação em capacitar investidores e transformar vidas.</p>
              </div>
              <div class="container-b2">
                <h4>Paulo Costa, 42</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="background-image img-6">
            <div class="container-info">
              <div class="container-b1">
                <p>A Inffinitx é uma empresa que vai além das expectativas! Com uma equipe de profissionais qualificados, eles proporcionam um suporte excepcional aos investidores. Os cursos são completos e abrangem desde conceitos básicos até estratégias avançadas. A Inffinitx é um verdadeiro parceiro no caminho para o sucesso financeiro.</p>
              </div>
              <div class="container-b2">
                <h4>Isabela Santos, 37</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-md-4">
          <div class="background-image img-4">
            <div class="container-info">
              <div class="container-b1">
                <p>Não poderia estar mais feliz com a Inffinitx! Eles simplificaram minha jornada no mercado financeiro, oferecendo um redirecionamento personalizado e cursos de alta qualidade. Graças à Inffinitx, estou confiante e seguro em minhas decisões de investimento. Recomendo a todos que desejam alcançar resultados extraordinários.</p>
              </div>
              <div class="container-b2">
                <h4>Sofia Silva, 32</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="background-image img-5">
            <div class="container-info">
              <div class="container-b1">
                <p>A Inffinitx é uma empresa de excelência! Seu compromisso em ajudar pessoas a investir de forma inteligente é admirável. Os cursos são ministrados por especialistas renomados e abordam tópicos relevantes para o mercado financeiro. Estou muito satisfeito com os serviços da Inffinitx e grato por ter encontrado uma empresa tão comprometida com o sucesso de seus clientes.</p>
              </div>
              <div class="container-b2">
                <h4>Pedro Almeida, 45</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="background-image img-6">
            <div class="container-info">
              <div class="container-b1">
                <p>A Inffinitx é simplesmente fantástica! Eles não apenas redirecionam as pessoas interessadas em investir, mas também oferecem suporte contínuo e cursos de alto nível. Com sua orientação especializada, estou ganhando confiança e obtendo resultados surpreendentes. Agradeço à Inffinitx por sua dedicação em transformar sonhos financeiros em realidade.</p>
              </div>
              <div class="container-b2">
                <h4>Laura Santos, 28</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-md-4">
          <div class="background-image img-4">
            <div class="container-info">
              <div class="container-b1">
                <p>Recomendo fortemente a Inffinitx a todos os interessados no mercado financeiro! Eles são uma empresa comprometida em ajudar pessoas com sua jornada de investimentos. Os cursos são didáticos e repletos de informações valiosas. Com a Inffinitx, aprendi a investir de forma estratégica e estou colhendo os frutos desse conhecimento.</p>
              </div>
              <div class="container-b2">
                <h4>Lucas Oliveira, 37</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="background-image img-5">
            <div class="container-info">
              <div class="container-b1">
                <p>A Inffinitx é a parceira perfeita para quem deseja entrar no mercado financeiro. Com sua expertise e cursos de alta qualidade, eles fornecem todo o suporte necessário para investir com segurança e obter resultados positivos. Estou extremamente satisfeito com os serviços da Inffinitx e recomendo a todos que desejam trilhar o caminho do sucesso financeiro.</p>
              </div>
              <div class="container-b2">
                <h4>Beatriz Costa, 51</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="background-image img-6">
            <div class="container-info">
              <div class="container-b1">
                <p>Estou encantado com a Inffinitx! Eles são uma empresa inovadora e comprometida em capacitar investidores. Os cursos são completos e me deram uma base sólida para iniciar minha jornada no mercado financeiro. Agradeço à Inffinitx por sua orientação e apoio contínuo. Estou confiante em minhas decisões de investimento graças a eles.</p>
              </div>
              <div class="container-b2">
                <h4>Gabriel Pereira, 22</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-md-4">
          <div class="background-image img-4">
            <div class="container-info">
              <div class="container-b1">
                <p>A Inffinitx é uma empresa excepcional! Sua abordagem personalizada e atendimento impecável fazem toda a diferença. Os cursos oferecidos são atualizados e ministrados por profissionais de alto nível, o que me dá confiança para investir. Estou muito satisfeito por ter encontrado a Inffinitx e recomendo a todos que buscam sucesso financeiro.</p>
              </div>
              <div class="container-b2">
                <h4>Maria Rodrigues, 63</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="background-image img-5">
            <div class="container-info">
              <div class="container-b1">
                <p>Estou impressionado com a qualidade dos cursos da Inffinitx! Eles são muito bem estruturados e oferecem uma visão abrangente do mercado financeiro. Com o conhecimento adquirido, estou me sentindo mais preparado para tomar decisões de investimento. A Inffinitx é uma empresa comprometida em capacitar seus clientes e proporcionar resultados positivos.</p>
              </div>
              <div class="container-b2">
                <h4>Matheus Fernandes, 41</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="background-image img-6">
            <div class="container-info">
              <div class="container-b1">
                <p>A Inffinitx superou todas as minhas expectativas! Sua equipe altamente qualificada me ajudou a compreender os conceitos complexos do mercado financeiro. Os cursos são didáticos e repletos de exemplos práticos. Graças à Inffinitx, estou no caminho certo para alcançar meus objetivos financeiros. Recomendo de olhos fechados!</p>
              </div>
              <div class="container-b2">
                <h4>Isabella Souza, 19</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-md-4">
          <div class="background-image img-4">
            <div class="container-info">
              <div class="container-b1">
                <p>A Inffinitx é uma empresa diferenciada no mercado financeiro! Sua abordagem didática e acessível torna os cursos muito mais envolventes e fáceis de acompanhar. Sinto-me confiante em minha capacidade de investir graças ao conhecimento adquirido. Agradeço à Inffinitx por sua dedicação em fornecer uma educação financeira de qualidade.</p>
              </div>
              <div class="container-b2">
                <h4>João Carvalho, 55</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="background-image img-5">
            <div class="container-info">
              <div class="container-b1">
                <p>Recomendo a Inffinitx a todos que desejam investir com sabedoria! Eles são especialistas em orientar investidores iniciantes, oferecendo cursos abrangentes e suporte individualizado. Estou grato por ter encontrado a Inffinitx, pois eles me deram as ferramentas necessárias para tomar decisões inteligentes no mercado financeiro.</p>
              </div>
              <div class="container-b2">
                <h4>Ana Gomes, 30</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="background-image img-6">
            <div class="container-info">
              <div class="container-b1">
                <p>A Inffinitx é uma empresa comprometida com o sucesso de seus clientes! Sua equipe atenciosa e cursos de alta qualidade me ajudaram a ganhar confiança e conhecimento no mercado financeiro. Estou colhendo os benefícios de investir de forma estratégica e agradeço à Inffinitx por seu apoio contínuo.</p>
              </div>
              <div class="container-b2">
                <h4>Enzo Martins, 22</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-md-4">
          <div class="background-image img-4">
            <div class="container-info">
              <div class="container-b1">
                <p>A Inffinitx é uma empresa que realmente se preocupa com o crescimento de seus clientes! Com sua orientação especializada e cursos práticos, estou aprendendo a investir com segurança e inteligência. A Inffinitx é uma parceira valiosa na minha jornada para a independência financeira. Recomendo a todos que buscam oportunidades no mercado financeiro.</p>
              </div>
              <div class="container-b2">
                <h4>Júlia Barbosa, 48</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="background-image img-5">
            <div class="container-info">
              <div class="container-b1">
                <p>Estou extremamente satisfeito com os serviços da Inffinitx! Eles são uma empresa confiável e comprometida em ajudar seus clientes a investir de forma inteligente. Os cursos são ministrados por profissionais experientes e fornecem conhecimentos práticos que podem ser aplicados imediatamente. Estou grato por ter a Inffinitx ao meu lado nessa jornada financeira.</p>
              </div>
              <div class="container-b2">
                <h4>Miguel Ribeiro, 36</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="background-image img-6">
            <div class="container-info">
              <div class="container-b1">
                <p>A Inffinitx é uma empresa de referência no mercado financeiro! Seu compromisso em oferecer cursos de alta qualidade e suporte personalizado é notável. Com sua orientação, estou adquirindo as habilidades necessárias para tomar decisões informadas de investimento. Agradeço à Inffinitx por me ajudar a alcançar meus objetivos financeiros.</p>
              </div>
              <div class="container-b2">
                <h4>Valentina Ferreira, 42</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Controles -->
<a class="carousel-control-prev" href="#myCarouselOpinioes" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#myCarouselOpinioes" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>

  <!-- <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> --> <!-- Botão adicional -->
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
