<div class="pagamento">
  <div class="pix">
      <div class="close"><button class="btn-close" (click)="close()"><i class="fas fa-times icon-close"></i></button></div>
      <div class="bloco-01">
          <div class="title">
              <h2>Pague com</h2>
              <h2><i class="fas fa-file-invoice icon-pix"></i>BOLETO</h2>
          </div>
          <div class="bloco-02">
            
            
            
            
            
            
            
            
            <form (ngSubmit)="registerUser()">
              <div class="form-group">
                <input type="text" id="nomeCompleto" [(ngModel)]="user.nomeCompleto" name="nomeCompleto" required placeholder="Nome completo">
              </div>
              <div class="form-group">
                <input type="email" id="email" [(ngModel)]="user.email" name="email" required placeholder="Ex: email@gmail.com">
              </div>
              <div class="form-group">
                <input type="number" id="cpf" [(ngModel)]="user.cpf" name="cpf" required placeholder="CPF / CNPJ">
              </div>
              <div class="form-group">
                <input type="text" id="endereco" [(ngModel)]="user.endereco" name="endereco" required placeholder="Endereço completo"> 
              </div>
              
              <div class="form-group">
                <label for="plano"><strong>Planos:</strong></label>
                <select id="plano" [(ngModel)]="user.plano" name="plano" required>
                  <option value="">Selecione o plano</option>
                  <option *ngFor="let plano of planos" [value]="plano">{{ plano }}</option>
                </select>
              </div>
              <div class="form-group">
                <input type="number" id="cep" [(ngModel)]="user.cep" name="cep" required placeholder="CEP">
              </div>
              <div class="form-group">
                <input type="text" id="cidade" [(ngModel)]="user.cidade" name="cidade" required placeholder="Cidade">
              </div>
              <div class="form-group">
                <input type="text" id="estado" [(ngModel)]="user.estado" name="estado" required placeholder="Estado">
              </div>
              <div class="form-group">
                <input type="number" id="codigo" [(ngModel)]="user.codigo" name="codigo" required placeholder="CÓDIGO PROMOCIONAL">
              </div>
              <button type="submit" class="btn">Confirmar e Prosseguir</button>
            </form>
         
      
      
      
      
          </div>
      
  </div>
</div>