<app-nav-bar></app-nav-bar>
<app-header header="Plataforma"></app-header>

<div class="corpo-01">
    <div class="texto">
        
        <h1>Plataforma multifuncional para investir no mercado global</h1>
    </div>
    <div class="texto">
        <p>Excelentes possibilidades de negociação e ferramentas de análise técnica com a plataforma multi-ativos mais avançada para negociação online!</p>
    </div>
</div>
<div class="corpo-02">
    <div class="c2b1">
        <div class="title">
            <h2>Terminal de trading para PC Windows</h2>
        </div>
        <div class="texto">
            <p>Nossa plataforma oferece um poderoso sistema de negociação com a profundidade de mercado e um sistema para gerenciar pedidos e negociações. A plataforma suporta todos os tipos de ordens de negociação, incluindo ordens de mercado, pendentes e stop, bem como trailing stop.</p>
        </div>
        <div class="texto texto-p">
            <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i>
            <p>Sistema de negociação flexível</p>
        </div>
        <div class="texto texto-p">
            <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i>
            <p>Análise técnica profissional</p>
        </div>
        <div class="texto texto-p">
            <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i>
            <p>Todos os tipos de ordens de negociação</p>
        </div>
        <div class="texto texto-p">
            <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i>
            <p>Quatro modos de execução de ordem</p>
        </div>
        <button class="btn">
        <i class="fa fa-terminal terminal-color" aria-hidden="true"></i>
            Terminal do Cliente</button>
    </div>
    <div class="c2b2"></div>
</div>
<div class="corpo-03">
    <div class="c3b1"></div>
    <div class="c3b2">
        <div class="title">
            <h2>Plataforma WebTrader</h2>
        </div>
        <div class="texto">
            <p>Amplo conjunto de funções que estão disponíveis na plataforma desktop diretamente na web, o que significa que você pode analisar cotações financeiras e negociar sem baixar ou instalar nenhum aplicativo.</p>
        </div>
        <div class="texto texto-p">
            <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i>
            <p>Proteção de dados confiável</p>
        </div>
        <div class="texto texto-p">
            <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i>
            <p>Todos os tipos de operações de negociação</p>
        </div>
        <div class="texto texto-p">
            <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i>
            <p>Conjunto completo de ordens de negociação</p>
        </div>
        <div class="texto texto-p">
            <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i>
            <p>Não é necessário fazer download</p>
        </div>
    </div>
</div>
<div class="corpo-04">
    <div class="c4b1">
        <div class="title">
            <h2>
                Agora pode levar as negociações no seu bolso
            </h2>
        </div>
        <div class="texto">
            <p>
                Acesso conveniente aos mercados de câmbio em qualquer lugar, a qualquer hora de seu smartphone ou tablet.
            </p>
        </div>
        <div class="btn-app">
            <button class="btn"><i class="fab fa-google-play btn-c4"></i>Google play</button>
            <button class="btn"><i class="fab fa-google-play btn-c4"></i>App Store</button>
        </div>
    </div>
    <div class="c4b2"></div>
</div>





<app-abrir-conta></app-abrir-conta>
<app-footer></app-footer>