<app-nav-bar></app-nav-bar>
<app-header header="Produtos"></app-header>
<div class="corpo-02">
    <h2>Negocie seu produto favorito nos principais mercados</h2>
    <p>Ampla e diversificada gama de instrumentos financeiros. Aproveite o acesso a mais de 1200 produtos nos mercados de moeda, commodities e bolsa de valores.</p>
</div>
<div class="corpo-03">
    <div class="info">
        <div class="info-img">
            <img id="icon-moedas" src="../../../assets/media/produtos-moedas3.svg" alt="">
        </div>
        <div class="title">
            <h2>Forex</h2>
        </div>
        <div class="texto">
            <p>O mercado Forex, também conhecido como mercado de câmbio, é a mais líquida e robusta do mercado. Invista em pares de moedas principais e exóticos a preços baixos e execução rápida.</p>
        </div>
    </div>
    <div class="info">
        <div class="info-img">
            <img src="../../../assets/media/produtos-commodities.png" alt="">
        </div>
        <div class="title">
            <h2>Commodities</h2>
        </div>
        <div class="texto">
            <p>Diversifique sua estratégia com hard ou soft commodities, como ouro, café e trigo, em nossa plataforma de negociação avançada de última geração.</p>
        </div>
    </div>
    <div class="info">
        <div class="info-img">
            <img src="../../../assets/media/produtos-acoes-globais.png" alt="">
        </div>
        <div class="title">
            <h2>Mercado de Ações</h2>
        </div>
        <div class="texto">
            <p>O mercado de ações é onde as ações de empresas são compradas e vendidas. As ações representam uma parcela de propriedade de uma empresa e são negociadas em bolsas de valores </p>
        </div>
    </div>
    <div class="info">
        <div class="info-img">
            <img src="../../../assets/media/produtos-indices-mundiais.png" alt="">
        </div>
        <div class="title">
            <h2>Índices</h2>
        </div>
        <div class="texto">
            <p>Os índices são medidas estatísticas que refletem o desempenho de um grupo de ações ou ativos subjacentes. Os índices são usados para representar o desempenho geral de um setor específico do mercado ou da economia como um todo.</p>
        </div>
    </div>
    <div class="info">
        <div class="info-img">
            <img src="../../../assets/media/produtos-pares-digitais.png" alt="">
        </div>
        <div class="title">
            <h2>Criptomoedas</h2>
        </div>
        <div class="texto">
            <p>As criptomoedas são moedas digitais baseadas em criptografia que operam em uma tecnologia chamada blockchain. O Bitcoin foi a primeira criptomoeda criada e desde então várias outras foram desenvolvidas, como Ethereum, Ripple e Litecoin.</p>
        </div>
    </div>
    <div class="info">
        <div class="info-img">
            <img src="../../../assets/media/produtos-energias.png" alt="">
        </div>
        <div class="title">
            <h2>Energias</h2>
        </div>
        <div class="texto">
            <p>Recursos essenciais para atender a demanda global de energia. Incluem petróleo, gás natural, carvão e fontes renováveis, fornecendo combustíveis e eletricidade que impulsionam a economia, alimentam indústrias e atendem às necessidades energéticas da sociedade.</p>
        </div>
    </div>
</div>







<app-abrir-conta></app-abrir-conta>

<app-perguntas-frequentes></app-perguntas-frequentes>

<app-footer></app-footer>