<div class="corpo-08">
    <div class="content">
      <h2>Abra uma conta de negociação na Inffinitx agora</h2>
      <p>Comece a investir em uma ampla gama de ações, moedas e outras opções de investimento no mercado global.</p>
      <div class="buttons">
        <button class="signup-btn" routerLink="/cadastro">Cadastre-se</button>
        <div class="alternative">
          <p>ou você pode</p>
          <a routerLink="/produtos">visualizar nossas contas</a>
        </div>
      </div>
    </div>
  </div>
  