.corpo-01 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    min-height: 400px;
    background-image: url(../../../assets/media/paisagem-3.svg);
    background-size: cover;
    background-position: center top;
    margin-top: -60px;
}

.corpo-01 h1 {
    color: white;
    text-align: center;
    font-weight: bolder;
    margin-right: 15px;
}

.title-01{
    background: red;
    padding: 0 5px;
}