<div id="myCarouselCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicadores -->
    <ol class="carousel-indicators">
      <li data-target="#myCarouselCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarouselCarousel" data-slide-to="1"></li>
      <li data-target="#myCarouselCarousel" data-slide-to="2"></li>
    </ol>
    <div class="corpo-03">
      <div class="title">
        <h2>Invista de forma inteligente, segura e simples.</h2>
      </div>
      <div class="texto">
        <p>Moedas, metais, índicies, commodities e ações. Invista sem parar, 24 horas por dia - 7 dias por semana</p>
      </div>
      <div class="btn-carrossel">
        <button class="btn">INVISTA AGORA</button>      
      </div>
    </div>
    <!-- Slides -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="background-image img-1">
          <div class="corpo-01">
            <div class="title">
              <h2>Sua entrada nos mercados globais</h2>
            </div>
            <div class="texto">
              <p>Moedas, metais, índices, commodities e ações
                Negocie 24 horas por dia - 7 dias por semana</p>
            </div>
            <div class="btn-home">
              <button class="btn">Comece agora</button>
            </div>
          </div>
          <div class="corpo-02"></div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="background-image img-2">
          <div class="corpo-01">
            <div class="title">
              <h2>Ampla gama
                de ferramentas</h2>
            </div>
            <div class="texto">
              <p>Mantenha seus investimentos no caminho certo.
                Notícias diárias gratuitas e sinais de negociação.</p>
            </div>          
            <div class="btn-home">
              <button class="btn">Comece agora</button>
            </div>
          </div>        
        </div>
      </div>
      <div class="carousel-item">
        <div class="background-image img-3">
          <div class="corpo-01">
            <div class="title">
              <h2>Precisa do parceiro de negociação certo?</h2>
            </div>
            <div class="texto">
              <p>Nós temos exatamente o que você precisa!</p>
            </div>
            <div class="lista">
              <ul>
                <li>Plataforma de negociação de última geração</li>
                <li>Várias categorias de produtos comerciais</li>
                <li>Custos de margem baixa</li>
                <li>Alta alavancagem de negociação de até 1:400</li>
              </ul>
            </div>
            <div class="btn-home">
              <button class="btn">Comece agora</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Controles -->
    <a class="carousel-control-prev" href="#myCarouselCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarouselCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  