#myCarouselCarousel {
    max-width: 100%;
    max-height: 100vh;
    margin-bottom: 40px;
  }
  
  .carousel-item .img-1 {
    background-image: url('../../../assets/media/img-1.2.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
    
  }
  .btn{
    background-color: #6bc33c;
    color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    padding: 7px 25px;
    margin: 0 30px;
    transition: 0.5s;
    min-width: 150px;
    height: 45px;
  }
  .btn:hover{
    background-color: #fff;
    color: #6bc33c;
    border: 1px solid #6bc33c;
    margin: 0 29px;
  }
  .img-1,
  .img-2,
  .img-3{
    display: flex;
    
  }
  .img-1 .corpo-01{
   
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  .texto p, 
  .lista li{
    color: rgb(231, 231, 231);
  }
  .img-2 .corpo-01{
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      padding: 30px;
      float: left;
      
  }
  .texto{
    margin: 20px 0;
  }
  .corpo-02{
    background-image: url('../../../assets/media/carrosel-img1.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 40%;
  }
  .img-3 .corpo-01{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    float: left;
    margin-left: 50px;
    
    
  }
  .img-3 .texto,
  .img-3 .lista{
    
    
    width: 100%;
  }
  
  .corpo-03{
    display: none;
  }
  
  .carousel-item .img-2 {
    background-image: url('../../../assets/media/img-2.2.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
  }
  
  .carousel-item .img-3 {
    background-image: url('../../../assets/media/img-3.2.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
  }
  
  .carousel-item.active .img-1,
  .carousel-item.active .img-2,
  .carousel-item.active .img-3 {
    opacity: 1;
  }
  
  .carousel-item {
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .carousel-item.active {
    opacity: 1;
  }
  
  .carousel-inner {
    height: 100vh;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #000;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-size: 100% 100%;
  }
  
  
  
  .title h2{
    color: white;
    font-weight: bolder;
    font-size: 50px;
  }
  
  
  @media screen and (max-width: 768px) {
    
    .corpo-03{
      display: block;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      
      
    }
    .title h2{
      font-size: 35px;
      color: rgb(46, 46, 122);
    }
    
    .carousel-inner,
    .carousel-control-prev,
    .carousel-control-next{
      display: none;
    }
  }