<app-nav-bar></app-nav-bar>
<app-header header="Por que investir com a INFFINITX ?"></app-header>

<div class="corpo-01">
    <div class="title">
        <h2>Uma perspectiva única
            para os mercados financeiros globais</h2>
    </div>
    <div class="texto">
        <p>Para encontrar o parceiro de negociação certo deve considerar vários aspectos, então aqui estão nossos pontos fortes para suas necessidades de investimento.</p>
    </div>
</div>
<div class="corpo-02">
    <div class="c2b1">
        <div class="title">
            <h2>Qualidade de serviço e dedicação aos nossos clientes</h2>
        </div>
        <div class="texto">
            <p>Estamos comprometidos em facilitar os investimentos e torná-los gerenciáveis através de uma abordagem altamente orientada. Fornecemos experiência de primeira classe e tecnologias prontas para uso. Oferecemos ferramentas de educação líderes do setor, a fim de melhorar sua estratégia de negociação e fornecer segurança em suas decisões antes de investir.</p>
            <p>Nosso objetivo é ser a primeira escolha do mundo para investimentos financeiros online.</p>
        </div>
    </div>
    <div class="c2b2">
        <div class="title">
            <h2>Nossos benefícios</h2>
        </div>
        <div class="texto"> <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i> Várias classes de produtos de negociação</div>
        <div class="texto"> <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i> Plataforma de negociação de última geração</div>
        <div class="texto"> <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i> Melhor execução para sua conta de negociação</div>
        <div class="texto"> <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i> Requisitos de margem e custos baixos</div>
        <div class="texto"> <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i> Negocie de qualquer lugar com nossos aplicativos próprios</div>
        <div class="texto"> <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i> Melhores investimentos graças a pesquisas gratuitas e educação de qualidade</div>
        <div class="texto"> <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i> Suporte ao cliente</div>
        <button class="btn">Começe a investir</button>
    </div>
</div>

<app-abrir-conta></app-abrir-conta>
<app-footer></app-footer>

