@import '~leaflet/dist/leaflet.css';
body{
    background: transparent;
}
#map { 
    height: 300px; 
    width: 100%;
    min-width: 250px;
    margin: 0;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 30px;
   align-items: center;
    
}