<app-nav-bar></app-nav-bar>
<app-header header="Suporte"></app-header>
<div class="corpo-01">
    <div class="info">
        <i class="fa fa-comments icon"></i>
        <div class="title">
            <h3>Pergunte e obtenha respostas.</h3>
        </div>
        <div class="texto">
            <p>Mande um email com suas dúvidas e logo retornaremos com a resposta</p>
        </div>
    </div>
    <div class="info">
        <i class="fa fa-phone icon"></i>
        <div class="title">
            <h3>Entre em contato conosco.</h3>
        </div>
        <div class="texto">
            <p>Telefone: +18009428236</p>
            <p>E-mail: support@inffinitx.com</p>
        </div>
    </div>
    <div class="info">
        <i class="fas fa-map-marker-alt icon"></i>
        <div class="title">
            <h3>Localização</h3>
        </div>
        <div class="texto">
            <p>Rua Alvorada, 129 -Vila Olípia / São Paulo</p>
        </div>
    </div>
</div>
<div class="map">
    <h2></h2>
    <app-map></app-map>
</div>
<div class="corpo-02">
    <div class="email">
        <app-enviar-email></app-enviar-email>
    </div>
</div>
<app-abrir-conta></app-abrir-conta>
<app-footer></app-footer>