<app-nav-bar></app-nav-bar>
<app-header header="Nossos Termos"></app-header>
<div class="corpo-01">
    <div class="title">
        <h1>LEGISLAÇÃO DE CURSOS LIVRES?</h1>
        <h2>Tudo que você precisa saber?</h2>
    </div>
</div>
<div class="corpo-02">
    <div class="title">
        <h2>As leis que regem essa modalidade</h2>
    </div>
    <div class="texto">
        <p>De acordo com a <a href="https://www.planalto.gov.br/ccivil_03/_ato2004-2006/2004/decreto/d5154.htm">Lei nº. 9394/96</a>, o <a href="https://www.planalto.gov.br/ccivil_03/_ato2004-2006/2004/decreto/d5154.htm">Decreto nº. 5.154/04</a> e a <a href="https://www.planalto.gov.br/ccivil_03/_ato2004-2006/2004/decreto/d5154.htm">Deliberação CEE 14/97 (Indicação CEE 14/97)</a>, os cursos livres são uma modalidade de ensino legal e válida em todo o território nacional, ainda que não sejam regulamentados pelo MEC. Esses cursos têm caráter não-formal, podem ser ofertados tanto de forma presencial, quanto online e são extremamente democráticos e acessíveis.
            Um curso livre, por sua legislação, não faz exigência de nenhuma formação anterior específica, podendo ser realizado por praticamente qualquer pessoa, e também não tem carga horária mínima ou fixa definida, ficando essa definição então por conta do profissional ou instituição que oferta o conteúdo. Apesar disso, os cursos livres não deixam de ser extremamente válidos, relevantes e reconhecidos pelo mercado de trabalho e por organizações diversas. Esse tipo de conteúdo normalmente é extremamente rico e pode ser um diferencial para quem o consome.</p>
        
            <p>Por esses e outros motivos, os cursos livres têm feito cada vez mais sucesso e muita gente já está apostando na modalidade não só para aprender e se qualificar, mas para criar um negócio e ganhar dinheiro com seu conhecimento.</p>

            <p>Mesmo assim, diante de um curso livre, algumas dúvidas ainda surgem e podem acabar incomodando quem vai fazer seu próprio curso ou quer estudar por um deles. Então, para que isso não aconteça mais, listamos a seguir as principais dúvidas sobre as leis e a legislação referente à cursos livres.</p>
    </div>
</div>
<div class="corpo-03">
    <div class="bloco-01">
        <div class="img"></div>
    </div>
    <div class="bloco-02">
        <div class="title">
        <h2>Os cursos livres são legais?</h2>
    </div>
    <div class="texto">
        <p>Sim! O funcionamento de cursos livres é previsto na legislação do país. O <a href="https://www.planalto.gov.br/ccivil_03/_ato2004-2006/2004/decreto/d5154.htm">Decreto Presidencial N° 5.154</a> (23 de julho de 2004) constitui a base legal de validade desses cursos. Esse decreto estabelece que cursos livres são uma modalidade de educação não-formal, de duração variável, que pode ser ofertado na modalidade presencial ou a distância.
        </p>    
    </div>
    </div>
</div>
<div class="corpo-04">
    <div class="title">
        <h2>Os cursos livres são regulamentados e reconhecidos pelo MEC?</h2>
        <div class="img"></div>
    </div>
    <div class="texto">
        <p>Não! O Ministério da Educação (MEC) não rege nada que diz respeito ao funcionamento dos cursos livres. O MEC não se responsabiliza por nenhum aspecto dessa modalidade e, consequentemente, os cursos livres não precisam obedecer nenhum tipo de regra dele. Cursos técnicos e de graduação, por exemplo, precisam cumprir todas as regras do MEC para serem válidos, por exemplo, exigência de carga horária mínima e necessidade de comprovação de escolaridade prévia.</p>
    </div>
</div>
<div class="corpo-05">
    <div class="title">
        <div class="img"></div>
        <h2>Isso quer dizer que um curso livre é mal visto no mercado?</h2>
    </div>
    <div class="texto">
        <p><strong>Não!</strong> O fato da legislação de cursos livres não passar pelo MEC em nada diz respeito a qualidade ou valorização deles. Como o próprio nome indica, os cursos são livres, por isso, podem funcionar independentemente de um órgão superior. Isso quer dizer que o gestor tem mais liberdade para montá-lo e estruturá-lo da forma que achar mais adequado ao seu projeto. É por isso que existem cursos livres dos mais variados formatos!</p>
        <p>Cursos livres online, por exemplo, investem em muita tecnologia e inovação para atrair e cativar alunos! E com tanta tecnologia – novas plataformas de cursos online, por exemplo – e novas apostas para a educação online, cada vez mais os cursos livres se consolidam como uma ótima opção para quem quer continuar os estudos e se qualificar para o mercado de trabalho. É por isso que essa modalidade de ensino não para de crescer no Brasil.</p>
    </div>
</div>
<div class="corpo-06">
    <div class="title">
        <h2>Preciso de CNPJ para abrir meu curso livre?</h2>
        <div class="img"></div>
    </div>
    <div class="texto">
        <p><strong>Não!</strong> Se você quer empreender nesse mercado, não precisa ter CNPJ para abrir seu próprio curso. Ou seja, se você é um especialista em um assunto e deseja montar um negócio baseado no seu conhecimento, pode começar a planejar agora mesmo! Especialmente na modalidade online, ter o seu próprio curso livre é mais fácil do que parece.</p>
        <p>Por exemplo, você pode gravar suas aulas e hospedá-las em uma plataforma profissional que te permite monetizar seus conteúdos de uma forma simples e intuitiva. Assim, você começa a vender seus conteúdos e lucrar com seu conhecimento de forma mais rápida.</p>
        <p>Aproveite e conheça uma plataforma de vídeos que te oferece hospedagem dos seus conteúdos de forma segura de pirataria, intuitiva e que te permite monetizar de forma simples!</p>
    </div>
</div>
<div class="corpo-07">
    <div class="bloco-01">
        <div class="img"></div>
    </div>
    <div class="bloco-02">
        <div class="title">
            <h2>Posso emitir certificado com meu curso?</h2>
        </div>
        <div class="texto">
            <p>Sim! Como gesto de um curso livre, não há nenhum impedimento para a emissão de certificados de conclusão, porém, é bom atentar-se que, por motivo dos cursos livres não serem reconhecidos pelo MEC, eles não possuem validade oficial como um certificado de curso técnico possui, por exemplo. Mas, como dissemos na terceira pergunta, mesmo que não há validade oficial perante o governo federal, os certificados ainda são bem recebidos no mercado! Nada impede que você crie um documento desse para seus alunos.</p>
        </div>
    </div>
</div>
<div class="corpo-08">
    <div class="bloco-01">
        <div class="title">
            <h2>Por que investir nos cursos livres?</h2>
        </div>
    </div>
    <div class="bloco-02">
        <div class="title">
            <h3>Os cursos livres como a ocasião perfeita para transmitir conhecimento!</h3>
        </div>
        <div class="texto">
            <p>A legislação de cursos livres significa, para o pequeno empreendedor, menos burocracia, mais rapidez e maior possibilidade de inovação.</p>
            <p>Além do mais, por não serem regulados pelo MEC, a legislação de cursos livres possibilita que alunos sem uma formação acadêmica consigam participar dos cursos e assim garantir uma aprendizagem em suas áreas de interesse. </p>
        </div>
    </div>
    <div class="bloco-03">
        <div class="title">
            <h3>Aumento na procura pelos cursos livres como modalidade de aprendizagem</h3>
        </div>
        <div class="texto">
            <p>O EAD no Brasil está em uma crescente impressionante, especialmente quando olhamos para os cursos livres! No ano passado, o Brasil registrou um crescimento de 97% nas matrículas de cursos livres a distância. Por proporcionarem aperfeiçoamento e desenvolvimento de conhecimentos e técnicas, os cursos livres são muito atrativos para quem deseja se reinserir no mercado de trabalho ou, claro, colocar-se à frente da concorrência.</p>
            <p>E, hoje em dia, com tanto investimento em novas tecnologias e plataformas, além do aumento do acesso à internet no Brasil, os cursos livres impactam a vida de mais e mais alunos todos os anos. Por ser um mercado em amplo crescimento, pode ser a hora certa para você investir nisso!</p>
        </div>
    </div>
</div>
<app-footer></app-footer>